{% load i18n %}{% autoescape off %}

    {% trans "Olá" %} {{ user.get_username }},

    {% blocktranslate %} "Recebemos uma solicitação para redefinir sua senha. Se você não fez essa solicitação, pode
    ignorar este e-mail com segurança. Caso contrário, clique no botão abaixo para redefinir sua senha."{% endblocktranslate %}

    {% block reset_link %}
        {{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
    {% endblock reset_link %}

{% endautoescape %}